
.templete{width:960px;margin-bottom:0 auto;}
.clear{overflow:hidden;}


.headersection{

	   /*background:#3E4089;*/
	   background:#17105F;

	   width:1500px;
	  height:160px;
     }
 .headersection h1{  color:#FFFEFA;}
 .logo{
	width: 1200px;
	height:160px;
	float:left;

 }
.logo img{
	float:left;
	width:260px;
	   height:160px;
	   font-style :circle 10px;


}
.logo h1{
	float:left;

	color:#00FFF0;
	font-size:50px;
}

.social{
	padding-top:130px;
	width: 200px;
	float:right;

}
.social img{

	   float:right;
       width:41px;
	   height:30px;

     margin-bottom:px;

}
.navsection{

	 background:#F0EFEB;



      font-size:20px;


}
.navsection ul{margin:0;padding:0;list-style:none;}

.navsection ul li{

	display:block;
	float:left;
	border:1px;
	padding:5px 10px;
	margin:5px;
}
.navsection ul li a{
 background:none repeat scroll 0 0;
 font-weight:blod;display:block;
 text-decoration:none;}


 .navsection ul li a:hover {color:#ff0000;}


 .img1 img{
float:right;
display:block;
width:900px;
height:350px;
margin-bottom:18px;

padding-left:10px;
}


 .main{
	height:600px;

 }



 p{
	line-height:25px;
	margin-bottom:1px;
	 font-size:20px;

	padding:0px 0px 0px 20px  ;

 }







 .title h1{
		margin-bottom:3px;
	font-style:italic;
  color:#800040;
	font-size:60px;

        text-decoration:none;
}
.mainconten{
	width:1500px;



}




.fotersection{
	margin-top:20px;
	height:60px;
	 background:#000000;
	 color:#000000;
	  width:1000px;

	  padding:5px 10px 10px 500px;

}
.fotersection ul li {
	border:1px;
	padding:5px 10px;
	margin:5px;
	 list-style:none;

	  float:left;
	border:1px;

	margin-bottom:5px;
	 text-decoration:none;
}

.fotersection ul li a{

	 font-weight:blod;
	 display:block;
	 color:#fff;
	 text-decoration:none;

}

.fotersection ul li a:hover {color:#ff0000;}
